In [1]:
import sys
import os
from sqlalchemy import text
import pandas as pd
# Menambahkan folder project ke sys.path
sys.path.append(os.path.abspath(os.path.join('..')))
from src.helper.db_connector_sales_data_raw import postgres_engine_sales_data
from src.helper.validations_module import validation_process 
# Menggunakan fungsi
engine = postgres_engine_sales_data()
data_name = 'sales_data'

In [3]:
# Query SQL
query = "SELECT * FROM amazon_sales_data;"

try:
    # Menggunakan pandas read_sql untuk menjalankan query dan memasukkan hasil ke DataFrame
    df = pd.read_sql(query, engine)
    print("Koneksi berhasil dan data berhasil di-load:")
    print(df)
except Exception as e:
    print("Koneksi gagal:", e)

Koneksi berhasil dan data berhasil di-load:
                                                     name     main_category  \
0       Aahwan Women's & Girls' Solid Basic Super Crop...  women's clothing
1       Fabme Unisex's Cold Weather Headband (PO2-ACC0...  sports & fitness
2       Men's Fashion Sneakers Lace-Up Trainers Basket...       men's shoes
3       HISTORICAL INDIA - Gwalior Collection - ½ Anna...  women's clothing
4       Sonata Act Safety Watch Analog White Dial Wome...       accessories
...                                                   ...               ...
100887  LORENZ Analogue Black Dial Men's Watch -Combo ...            stores
100888                 Campus Men's Rampage Running Shoes       men's shoes
100889  Sri Jagdamba Pearls 22KT Yellow Gold Chain for...       accessories
100890           mitushi products Boys One Piece Swimsuit     kids' fashion
100891  Gold Look Women's Maid Roleplay Costume with H...  women's clothing

                          sub_category  \
0                         Western Wear
1       All Sports, Fitness & Outdoors
2                         Casual Shoes
3                             Clothing
4                              Watches
...                                ...
100887                   Men's Fashion
100888                    Sports Shoes
100889        Gold & Diamond Jewellery
100890                   Kids' Fashion
100891            Lingerie & Nightwear

                                                    image  \
0       https://m.media-amazon.com/images/I/61Ou9rolop...
1       https://m.media-amazon.com/images/I/81LVOS343V...
2       https://m.media-amazon.com/images/I/71sCueaM0-...
3       https://m.media-amazon.com/images/I/91N6W7gYl3...
4       https://m.media-amazon.com/images/I/81sf24RFnD...
...                                                   ...
100887  https://m.media-amazon.com/images/I/71BEdDAGaI...
100888  https://m.media-amazon.com/images/I/71cVJlYVkA...
100889  https://m.media-amazon.com/images/W/IMAGERENDE...
100890  https://m.media-amazon.com/images/W/IMAGERENDE...
100891  https://m.media-amazon.com/images/W/IMAGERENDE...

                                                     link ratings  \
0       https://www.amazon.in/Aahwan-Cropped-Without-W...    None
1       https://www.amazon.in/Fabme-Unisexs-Headband-P...       5
2       https://www.amazon.in/Fashion-Sneakers-Lace-Up...    None
3       https://www.amazon.in/HISTORICAL-INDIA-Gwalior...     4.4
4       https://www.amazon.in/Sonata-Safety-Analog-Wom...       3
...                                                   ...     ...
100887  https://www.amazon.in/Lorenz-MK-4849A-Combo-Bl...     3.5
100888  https://www.amazon.in/Campus-Rampage-R-Slate-R...       4
100889  https://www.amazon.in/Sri-jagdamaba-pearls-Yel...    None
100890  https://www.amazon.in/mitushi-products-Shorts-...     4.1
100891  https://www.amazon.in/Gold-Look-Womens-Rolepla...       4

       no_of_ratings discount_price actual_price Unnamed: 0
0               None           ₹399         ₹999
1                  1           ₹265         ₹999     1110.0
2               None
3                 40           ₹670       ₹1,500
4                 22                      ₹3,040
...              ...            ...          ...        ...
100887            40           ₹319       ₹1,999     7707.0
100888            31         ₹1,949       ₹2,799
100889          None      ₹1,46,905    ₹1,60,260
100890           143           ₹400         ₹450
100891             1           ₹499       ₹1,299    15896.0

[100892 rows x 10 columns]

# Data validasi

## Cek Shape data

In [4]:
def check_shape_data(df,nama_tabel):
    rows_amount = df.shape[0]
    columns_amount = df.shape[1]

    print(f'Data {nama_tabel} has {rows_amount} rows and {columns_amount} columns')

check_shape_data(df,data_name)

Data sales_data has 100892 rows and 10 columns

## Cek tipe data

In [18]:
def check_type_data(df, table_name):
    print(f'Each column in {table_name} has the following data types:\n')
    for column in df.columns:
        print(f'Column `{column}` has data type {df[column].dtype}')

check_type_data(df, data_name)

Each column in sales_data has the following data types:

Column `name` has data type object
Column `main_category` has data type object
Column `sub_category` has data type object
Column `image` has data type object
Column `link` has data type object
Column `ratings` has data type object
Column `no_of_ratings` has data type object
Column `discount_price` has data type object
Column `actual_price` has data type object
Column `Unnamed: 0` has data type object

## Check missing value

In [19]:
def check_missing_values(df, table_name):
    print(f'Each column in `{table_name}` has the following number of missing values:\n')
    for column in df.columns:
        missing_values = df[column].isnull().sum()
        percentage_missing_values = round(missing_values/len(df)*100,1)
        print(f'Column `{column}` has {missing_values} or {percentage_missing_values}% missing values')

check_missing_values(df, data_name)

Each column in `sales_data` has the following number of missing values:

Column `name` has 0 or 0.0% missing values
Column `main_category` has 0 or 0.0% missing values
Column `sub_category` has 0 or 0.0% missing values
Column `image` has 0 or 0.0% missing values
Column `link` has 0 or 0.0% missing values
Column `ratings` has 262 or 0.3% missing values
Column `no_of_ratings` has 262 or 0.3% missing values
Column `discount_price` has 0 or 0.0% missing values
Column `actual_price` has 0 or 0.0% missing values
Column `Unnamed: 0` has 0 or 0.0% missing values

## Check duplicate

In [20]:
def check_duplicates(df, table_name):
    duplicate_count = len(df[df.duplicated()])
    print(f"`{table_name}` has {duplicate_count} duplicate entries")

check_duplicates(df, data_name)

`sales_data` has 643 duplicate entries

## Check unique values

In [24]:
def check_unique_values(df,table_name):
    print(f'Each column in `{table_name}` has the following number of missing values:\n')
    for column in df.columns:
        unique_values = df[column].unique()
        if len(unique_values)<=100:
            print(f'''Jumlah unique values pada kolom `{column} `adalah sebanyak : {len(unique_values)} yaitu : \n {unique_values}\n''')
        else:
            print(f'''Jumlah unique values pada kolom `{column}` adalah sebanyak : {len(unique_values)}\n''')

check_unique_values(df, data_name)

Each column in `sales_data` has the following number of missing values:

Jumlah unique values pada kolom `name` adalah sebanyak : 84713

Jumlah unique values pada kolom `main_category `adalah sebanyak : 20 yaitu :
 ["women's clothing" 'sports & fitness' "men's shoes" 'accessories'
 "men's clothing" 'beauty & health' 'bags & luggage' 'appliances'
 'tv, audio & cameras' 'car & motorbike' "women's shoes" 'home & kitchen'
 'stores' 'pet supplies' 'industrial supplies' "kids' fashion"
 'toys & baby products' 'grocery & gourmet foods' 'music'
 'home, kitchen, pets']

Jumlah unique values pada kolom `sub_category` adalah sebanyak : 112

Jumlah unique values pada kolom `image` adalah sebanyak : 90428

Jumlah unique values pada kolom `link` adalah sebanyak : 95441

Jumlah unique values pada kolom `ratings `adalah sebanyak : 52 yaitu :
 [None '5' '4.4' '3' '4.5' '3.4' '1' '4.1' '3.8' '3.5' '3.7' '4' '3.2'
 '3.9' '2.5' '2.3' '3.6' '4.3' '2.9' '3.3' '4.2' '2' '4.7' '3.1' '4.6'
 '2.8' '2.1' '1.4' '2.7' '2.4' '1.8' '' '5.0' '1.0' '3.0' '4.0' '2.0'
 'Get' '4.8' 'FREE' '1.5' '4.9' '2.6' '2.2' '1.9' '1.7' '₹70' '1.6' '1.3'
 '1.2' '₹65' '₹99']

Jumlah unique values pada kolom `no_of_ratings` adalah sebanyak : 4205

Jumlah unique values pada kolom `discount_price` adalah sebanyak : 9812

Jumlah unique values pada kolom `actual_price` adalah sebanyak : 8327

Jumlah unique values pada kolom `Unnamed: 0` adalah sebanyak : 16929

## Wrapped all Validations

In [4]:
validation_process(df, data_name)

========== Start sales_data Pipeline Validation ==========
CHECKING SHAPE DATA
Data sales_data has 100892 rows and 10 columns

CHECKING DATA TYPE
Each column in sales_data has the following data types:

Column `name` has data type object
Column `main_category` has data type object
Column `sub_category` has data type object
Column `image` has data type object
Column `link` has data type object
Column `ratings` has data type object
Column `no_of_ratings` has data type object
Column `discount_price` has data type object
Column `actual_price` has data type object
Column `Unnamed: 0` has data type object

CHECKING MISSING DATA
Each column in `sales_data` has the following number of missing values:

Column `name` has 0 or 0.0% missing values
Column `main_category` has 0 or 0.0% missing values
Column `sub_category` has 0 or 0.0% missing values
Column `image` has 0 or 0.0% missing values
Column `link` has 0 or 0.0% missing values
Column `ratings` has 262 or 0.3% missing values
Column `no_of_ratings` has 262 or 0.3% missing values
Column `discount_price` has 0 or 0.0% missing values
Column `actual_price` has 0 or 0.0% missing values
Column `Unnamed: 0` has 0 or 0.0% missing values

CHECKING DATA DUPLICATES
`sales_data` has 643 duplicate entries

CHECKING UNIQUE VALUES
Each column in `sales_data` has the following number of missing values:

Jumlah unique values pada kolom `name` adalah sebanyak : 84713

Jumlah unique values pada kolom `main_category `adalah sebanyak : 20 yaitu :
 ["women's clothing" 'sports & fitness' "men's shoes" 'accessories'
 "men's clothing" 'beauty & health' 'bags & luggage' 'appliances'
 'tv, audio & cameras' 'car & motorbike' "women's shoes" 'home & kitchen'
 'stores' 'pet supplies' 'industrial supplies' "kids' fashion"
 'toys & baby products' 'grocery & gourmet foods' 'music'
 'home, kitchen, pets']

Jumlah unique values pada kolom `sub_category` adalah sebanyak : 112

Jumlah unique values pada kolom `image` adalah sebanyak : 90428

Jumlah unique values pada kolom `link` adalah sebanyak : 95441

Jumlah unique values pada kolom `ratings `adalah sebanyak : 52 yaitu :
 [None '5' '4.4' '3' '4.5' '3.4' '1' '4.1' '3.8' '3.5' '3.7' '4' '3.2'
 '3.9' '2.5' '2.3' '3.6' '4.3' '2.9' '3.3' '4.2' '2' '4.7' '3.1' '4.6'
 '2.8' '2.1' '1.4' '2.7' '2.4' '1.8' '' '5.0' '1.0' '3.0' '4.0' '2.0'
 'Get' '4.8' 'FREE' '1.5' '4.9' '2.6' '2.2' '1.9' '1.7' '₹70' '1.6' '1.3'
 '1.2' '₹65' '₹99']

Jumlah unique values pada kolom `no_of_ratings` adalah sebanyak : 4205

Jumlah unique values pada kolom `discount_price` adalah sebanyak : 9812

Jumlah unique values pada kolom `actual_price` adalah sebanyak : 8327

Jumlah unique values pada kolom `Unnamed: 0` adalah sebanyak : 16929

========== End Pipeline Validation ==========

# Cleaning

## Handle Missing Value

In [41]:
import numpy as np
df['ratings'] = df['ratings'].fillna(0)

def cleaning_no_ratings(no_ratings):
    try:
        no_ratings = int(no_ratings.replace(',','.'))
        return no_ratings
    except:
        return np.NaN
df['no_of_ratings'] = df['no_of_ratings'].apply(cleaning_no_ratings)

In [43]:
#Remove currency value in price
df['actual_price'] = df['actual_price'].str.replace('₹', '').str.replace(',', '').replace('', float('nan')).astype('float')
df['discount_price'] = df['discount_price'].str.replace('₹', '').str.replace(',', '').replace('', float('nan')).astype('float')

In [39]:
df['actual_price'].str[0].unique()

array(['₹', nan], dtype=object)